.chat-window {
    position: fixed;
    bottom: 120px;
    right: 4px;
    width: 20rem;
    height: 400px;
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 0.85rem;
  }

  .chat-window.open {
    transform: translateX(0);
    opacity: 1;
  }
  
  .chat-window.closed {
    transform: translateX(100%);
    opacity: 0;
  }

  .chat-history {
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
  }
  
  .chat-message {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    max-width: 80%;
  }
  
  .user-message {
    background-color: #3b82f6;
    color: white;
    align-self: flex-end;
  }
  
  .bot-message {
    background-color: #e5e7eb;
    color: black;
    align-self: flex-start;
  }

  .chatbox-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
  
  .chatbox-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    width: 100%; /* Make this value anything and it works for some reason */
  }
  
  .chatbox-send-button {
    padding: 0.5rem 1rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .chatbox-send-button:hover {
    background-color: #2563eb;
  }